.themeButton {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  user-select: none;
  cursor: pointer;
  box-shadow: -6px 6px 15px 0px #b9b9b9;
  margin: 1rem;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 10px 0px #b9b9b9;
  }

  &:focus,
  &:active {
    outline: 4px solid var(--blue);
  }

  &:disabled {
    filter: grayscale(1);
  }

  img {
    width: 140px;
    height: auto;
    display: block;
  }
}
