.themeButton {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  margin-right: 1rem;
  transition: filter 0.4s ease-in-out;
  user-select: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: 4px solid var(--blue);
  }

  &:disabled {
    filter: grayscale(1);
  }

  &.isActive {
    outline: 4px solid var(--blue);
  }

  img {
    width: 58px;
    height: auto;
    display: block;
  }
}
