.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
  grid-column-gap: 1.5rem;
  column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-content: center;

  &.small {
    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(4, minmax(85px, 175px));
    }
  }

  &.medium {
    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(4, minmax(85px, 140px));
    }
  }

  &.large {
    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(5, minmax(85px, 140px));
    }
  }
}
