:root {
  --pink: #ffc5cf;
  --blue: #2b64b9;
  --light-blue: #88b7ff;
  --purple: #9b5e96;
  --blue-grad: radial-gradient(circle, rgba(14, 14, 217, 1) 30%, rgba(0, 212, 255, 1) 100%);
  --red-grad: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  --purple-grad: radial-gradient(circle, rgba(95, 28, 140, 1) 27%, rgba(222, 102, 212, 1) 100%);
  --green-grad: radial-gradient(circle, rgba(2, 93, 10, 1) 25%, rgba(79, 241, 62, 1) 100%);
  --teal-grad: radial-gradient(circle, rgba(0, 85, 67, 1) 25%, rgba(68, 255, 226, 1) 100%);
  --pink-grad: radial-gradient(circle, rgba(128, 28, 108, 1) 25%, rgba(217, 50, 138, 1) 100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 1rem;

  &.frozen {
    background: var(--blue-grad);
  }

  &.lego {
    background: var(--red-grad);
  }

  &.masha {
    background: var(--purple-grad);
  }

  &.ariel {
    background: var(--teal-grad);
  }

  &.hulk {
    background: var(--green-grad);
  }

  &.lol {
    background: var(--pink-grad);
  }
}

.is-hidden {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
