.theme-btn-wrapper {
    display: flex;
    padding-bottom: 1rem;

    .theme-select-btn {
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid #d2d2d2;
        margin-right: 0.5rem;
        transition: filter 0.4s ease-in-out;
        user-select: none;

        &:focus,
        &:active {
            outline: none;
        }

        &:disabled {
            filter: grayscale(1);
        }

        &.is-active {
            border: 1px solid var(--blue);
        }

        img {
            width: 50px;
            height: auto;
        }
    }
}
