.theme-btn-wrapper {
  display: flex;
  padding-bottom: 1.5rem;

  .theme-select-btn {
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    margin-right: 1rem;
    transition: filter 0.4s ease-in-out;
    user-select: none;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
    }

    &:disabled {
      filter: grayscale(1);
    }

    &.is-active {
      outline: 4px solid var(--blue);
    }

    img {
      width: 58px;
      height: auto;
      display: block;
    }
  }
}
